extends layout

block content
  .ui-wrapper
    .ui-header
      .notification-area
        p#notification
          span Welcome to stupid business v.0.0.2 - GGJ 2014 entry.!
      .status-area
        .cash
          p
            span#money 0
        #time
          p 1.1.1970 00:00
    .ui-content
      .left
        #start-screen.visible
        canvas(width="640", height="480")#drawable-canvas
          | Oops! Your browser is too OLD to play games with it - no stupid business for you.
      .right
        table.status-area
          thead
              tr
                th.no-bg
                  p.no-margin-bottom &laquo; Project &raquo;
                  p.no-margin-top
                    span#project
        table.buy-area
          tbody
            tr
              td#coder.profession
                p
                  span Coder &raquo; &nbsp;
                  span.price 0
                  span.currency  $
              td#cleaner.profession.gray
                p
                  span Cleaner &raquo; &nbsp;
                  span.price 0
                  span.currency  $
            tr
              td#cook.profession.gray
                p
                  span Cook &raquo; &nbsp;
                  span.price 0
                  span.currency  $
              td#manager.profession
                p
                  span Manager &raquo; &nbsp;
                  span.price 0
                  span.currency  $
            tr
              td(colspan="2", id="buy-floor")
                p
                  span Buy new floor to office &raquo; &nbsp;
                  span.price 0
                  span.currency  $
        table#person-coder.person-area.hidden
          tbody
            tr
              td#slap.action
                p Slap
              td.no-bg
                p &nbsp;
              td#feed.action
                p Feed
            tr
              td.no-bg
                p &nbsp;
              td.no-bg.person.person-coder-img
                img(src="images/normal.png")
              td.no-bg
                p &nbsp;
            tr
              td#toilet.action
                p Toilet
              td.no-bg
                p &nbsp;
              td.no-bg
                p &nbsp;
        table#person-manager.person-area.hidden
          tbody
            tr
              td#meet.action
                p Hold a Meeting
              td.no-bg
                p &nbsp;
              td#kick.action
                p Kick me out
            tr
              td.no-bg
                p &nbsp;
              td.no-bg.person.person-manager-img
                img(src="images/manager.png")
              td.no-bg
                p &nbsp;
            tr
              td.no-bg
                p &nbsp;
              td.no-bg
                p &nbsp;
              td.no-bg
                p &nbsp;

