extends layout

block content
  .ui-wrapper
    .ui-header
      .cash
        p
          span#money 0
          span.currency  $
      #time
        p 1.1.1970 00:00
    .ui-content
      .left
        canvas(width="640", height="480")#background
          | Oops! Your browser is too OLD to play games with it - no stupid business for you.
        canvas(width="640", height="480")#foreground
          | Oops! Your browser is too OLD to play games with it - no stupid business for you.
      .right
        table.status-area
          thead
              tr
                th.no-bg
                  p Project ongoing:&nbsp;
                    span#project Phones for Microsoft
        table.buy-area
          tbody
            tr
              td
                p
                  span#coder Coder &raquo; &nbsp;
                  span.price 0
                  span.currency  $
              td
                p
                  span#cleaner Cleaner &raquo; &nbsp;
                  span.price 0
                  span.currency  $
            tr
              td
                p
                  span#cook Cook &raquo; &nbsp;
                  span.price 0
                  span.currency  $
              td
                p
                  span#manager Manager &raquo; &nbsp;
                  span.price 0
                  span.currency  $
            tr
              td(colspan="2")
                p
                  span#buy-floor Buy new floor to office &raquo; &nbsp;
                  span.price 0
                  span.currency  $
        table.person-area
          tbody
            tr
              td
                p Slap
              td
                p Slap
              td
                p Slap
            tr
              td
                p Slap
              td.no-bg
                p#person
              td
                p Slap
            tr
              td
                p Slap
              td
                p Slap
              td
                p Slap

