extends layout

block content
  .ui-wrapper
    .left
      canvas(width="640", height="480")#background
        | Oops! Your browser is too OLD to play games with it - no stupid business for you.
      canvas(width="640", height="480")#foreground
        | Oops! Your browser is too OLD to play games with it - no stupid business for you.
    .right
