doctype html
html
  head
    title= title
    //- Styles
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- Javascripts
    script(src='javascripts/analytics.js')
    script(data-main='javascripts/config', src='javascripts/lib/require.js')
  body
    block content
